html {
    font-size: 10px;
}

body {
    padding-top: 10rem;
}

.list {
    width: 40rem;
    background-color: white;
    margin: auto;
    border: 1px solid #dbdbdb;
    box-shadow: 0 0 10px grey;
}

.header, .item {
    width: 100%;
    background-color: white;
    display: flex;
    border-bottom: 1px solid #dbdbdb;
}

.item__todo-title {
    cursor: default;
}

.header__check-button, .item__delete-button, .item__check-button {
    flex-basis: 3rem;
    height: 3rem;
    cursor: pointer;
    background-color: inherit;
    border: 1px solid #dbdbdb;
    border-radius: 50%;
    margin: 1rem;
    outline: none;
}

.item__check-button {
    color: green;
}

.item__delete-button {
    color: red;
    border: none;
    visibility: hidden;
}

.item:hover .item__delete-button{
    visibility: visible;
}

.header__todo-input, .item__todo-title {
    flex-grow: 1;
    font-size: 2rem;
    color: grey;
    padding: 0 1rem 0 1rem;
    outline: none;
    border: none;
}

.footer {
    width: 100%;
    display: flex;
    color: grey;
    padding-left: 0.4rem;
}

.footer__counter {
    height: 2rem;
    font-size: 1.4rem;
    font-family: Arial;
    line-height: 2rem;
    margin-right: 5rem;
}

.footer-button {
    background-color: white;
    border: none;
    cursor: pointer;
    height: 2rem;
    color: grey;
}
